.side-bar{
    width: 110px;
    height: calc(100vh - 70px);
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 70px;
    left: 0;
    padding: 1rem;
}

.side-icon{
    color: black;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

.side-icon:hover{
    background-color: #FFA500;
    color: white;
}

.side-border{
    width: 2px;
    height: calc(90vh - 70px);
    top: calc(70px + 5vh);
    left: 108px;
    position: fixed;
    background-color: black;
}